@model Blog.Models.Post

<form action="/Post/Adicionar" method="post">
    <label>
        Titulo: <input name="Titulo" value="@Model.Titulo" />
    </label>

    @Html.ValidationMessage("titulo");
    <label>
        Resumo: <input name="Resumo" value="@Model.Resumo" />
    </label>
    @Html.ValidationMessage("resumo");
    <label>
        Categoria: <input name="Categoria" value="@Model.Categoria" />
    </label>
    @Html.ValidationMessage("categoria");
    <button type="submit">Cadastrar</button>
</form>